<h3>Saving Multiple Records via a single Transaction in EmberData</h3>
<p>A simple example</p>
<br>

{{#if parent}}
  Parent: {{parent.name}} - {{parent.id}} {{if parent.isNew 'unsaved' 'save'}}<br>
  <ul>
    {{#each parent.children as |child|}}
      <li>{{child.name}} - {{child.id}} {{if child.isNew 'unsaved' 'save'}}</li>
    {{else}}
      {{parent.name}} has no children. Add some!
    {{/each}}
  </ul>

  {{input type="text" value=newPersonName}}
  <button {{action "createChild" newPersonName}}>Add Child</button>
  {{#if parent.children.length}}
    <button {{action "save"}}>Save</button>
  {{/if}}
{{else}}
  {{input type="text" value=newPersonName}}
  <button {{action "createParent" newPersonName}}>Create</button>
{{/if}}
<br>
{{outlet}}
<br>
<br>