.calendar
{
    background-color: white;
    padding: 20px;
    border: solid 1px #ddd;
}

.calendar .calendar-filters{
    display:flex;
}

.calendar .calendar-filters > div
{
    flex: 1 1 0;
}

.calendar .calendar-filters .filter-label{
    padding: 5px 10px;
    text-align:center;
    font-weight:bold;
    background:black;
    color:white;
}

.calendar .dropdown
{
    display: none;
    position: absolute;
    background-color: #fff;
    color: #1caff6;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 160px;
    left: 0px;
    z-index: 2000;
    border:solid 1px #ccc;
}

.calendar .dropdown .dropdown-item
{
    cursor:pointer;
    opacity: .7;
    transition: .5s opacity;
    font-size:10pt;
    padding:5px;
}

.calendar .dropdown .dropdown-item:hover
{
    opacity: 1;
}

.calendar .years
{
    display:none;
}

.calendar .title
{
    text-align:center;
    font-size:20pt;
}

.calendar .calendar-btn, .btn-calendar
{
    float: left;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 20%;
    cursor: pointer;
    transition: .5s background-color;
}

.calendar .calendar-btn:hover{
    background-color:#ddd;
}

.calendar .year-btn, .btn-year
{
    float:right;
}

.calendar .calendar-dates .days .day
{
    float:left;
    width: calc(100% / 7);
    padding: 1%;
    font-size:12px;
    text-align:center;
    border: solid 1px #eee;
}

.calendar .calendar-dates .days .day.blank
{
    background-color: white;
    border:none;
}

.calendar .calendar-dates .days .day.selected
{
    background-color: #111;
    color: white;
    cursor:pointer;
    opacity: .5;
    transition: .5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover
{
    opacity: 1;
}

    .calendar .calendar-dates .days .day:hover {
        background:black;
        color:white;
    }

.calendar .calendar-dates .days .day.label
{
    height: 40px;
    background-color: white;
    color: black;
    border:none;
}

@media only screen and (max-width: 960px) {
    .calendar{
        width: 100%;
        margin: 0px;
        margin: 0px;
        box-sizing: border-box;
        position: relative;
        left: 0px;
    }
}